@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: "Open Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


.container {
    padding-top: 50px;
    display: flex;
    width: 100%;
    gap: 20px;
  }
  .headline{
    /* background-color: aqua; */
    margin: 0;
  }
  .news-container {
    border-right: 1px solid #090909;
    margin-right: 20px;
    /* background-color: #090909; */
    /* Add border color and width */
    border-right: 1px solid #656060;
    width: 60%;
    display: flex;
    flex-direction: column; /* Update to column layout */
    max-height: 100%; /* Adjust the max height as needed */
    /* overflow-y: auto;  */
    /* background-color: antiquewhite; */
}
    /* padding-top: 40px; */
    .news-img-description {
      padding-top: 0; /* Remove the padding */
      width: 100%;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    

h1{
   width: 90%;
    margin-bottom: 10px;
   color: #11A5AC;
}
.date{
    padding-top: 15px;
    color: #656060;
}
.news-image{
    width:85%;
    margin-top: 20px;
    margin-right: 40px;
}
.description {
    font-size: 20px;
    width: 90%;
    /* background-color: black; */
}.sidebar {
    width: 40%;
    /* font-size: 22px; */
    /* margin-top: 50px; */
    /* background-color: aquamarine; */
    /* border: 1px solid #ccc; */
    /* padding: 10px; */
  }
  
  .news-section {
    /* margin-top: 20px; */
    width: 95%;
    /* border: 1px solid #ccc; */
  }
  
  .news-section h2 {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid black;
    background: #11A5AC;
    text-align: center;
    height: 40px;
  }
  
  .news-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    
  }
  
  .news-list li {
    display: flex;
    align-items: center;
    border: 1px solid black;
      height: 70px;
    /* padding-top: 10px; */
    
    /* margin-bottom: 10px; */
  }
  
  .news-icon img {
    display: inline-block;
    width:85px;
    height:100%;
    display: block;
    width: 85px;
    height: 100%;
    object-fit: cover;
    /* padding-left: 5px; */
    padding-right: 10px;
    /* font-size: larger; */
    /* color: #11A5AC; */
    /* margin-right: 10px; */
  }
  
  .news-content {
    font-size: 18px;
  }
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    h1{
        margin-left: 10px;
    }
    .news-container {
      width: 100%;
      border-right: none;
    }
    .description{
      margin-left: -15px;
    }
    
    .sidebar {
      width: 100%;
    }
    
    .news-section {
      margin-top: 20px;
      width: 100%;
    }
    
    .news-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
    }
    
    .news-list li {
      display: flex;
      align-items: center;
      /* border: none;
      padding-top: 15px; */
      /* margin-bottom: 10px; */
      border: 1px solid black;
    }
    
    .news-icon img {
      display: inline-block;
    width:85px;
    height:100%;
    display: block;
    width: 85px;
    height: 100%;
    object-fit: cover;
    /* padding-left: 5px; */
    padding-right: 10px;
    }
    
    .news-content {
      font-size: 18px;
    }
    .news-img-description img{
        width: 100%;
        padding-left: 40px;
    }
  }
  
